.menu_item {
    width: 200px; /* Set a width if you like */
}

.menu_item a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    border-bottom: 1px solid gray;
}

.menu_item a.expandible::after{
    content: '\203A';
    float: right;
}
.menu_item a.collapsed::after{
    content: '\2039';
    float: right;
}
.menu_item a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.menu_item a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}
.menu_item_collapse a{
    border: none;
}
.menu_item_collapse a{
    border: none;
}
.menu_item_collapse{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}